* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Ubuntu", sans-serif;
}

.left {
 float: left;
}

/* main */
main {
 width: 100%;
 height: calc(100vh - 80px);
}

main::after {
 display: table;
 content: "";
 clear: both;
}

.nav-top {
 height: calc(100% - 80px);
 display: flex;
 justify-content: center;
 padding: 0 10px;
}

#logo-big {
 width: 120px;
 margin-bottom: 50px;
 margin-top: 25px;
 margin-left: 15px;
}

.description {
 display: flex;
 align-items: center;
 width: 100%;
 margin-bottom: 5px;
}

.description p {
 margin-left: 10px;
 width: 210px;
}

.logo p {
 font-size: 14px;
}

.logo .description p {
 color: rgb(127, 129, 133);
}

.logo,
.nav-bottom,
.nav-main img {
 width: 30px;
}

.nav-bottom {
 height: 80px;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 0 10px;
}

img#download {
 width: 20px;
 margin-bottom: 20px;
}

img#profile {
 background-color: grey;
 border-radius: 50%;
 width: 30px;
}

.playlist-nav {
 height: 40%;
 width: 210px;
 margin-top: 20px;
 overflow-y: auto;
}

.più {
 padding: 10px 10px;
 background-color: grey;
 margin-right: 5px;
}

.playlist-nav h3 {
 color: white;
 text-transform: uppercase;
 font-size: 16px;
 margin-bottom: 10px;
}

.crea-playlist {
 display: flex;
 align-items: center;
 flex-wrap: wrap;
}

.playlist-nav .crea-playlist p {
 color: rgb(127, 129, 133);
}

.new-playlist {
 margin-top: 10px;
 line-height: 2;
}

.col-sn {
 width: 50px;
 height: 100%;
 min-height: 480px;
 background-color: black;
}

.col-dx {
 width: calc(100% - 50px);
 height: calc(100% - 80px);
 background-color: rgb(20, 25, 34);
 overflow-y: auto;
 margin-top: 90px;
}

.main-nav ul {
 list-style: none;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.main-nav ul li {
 padding: 10px 5px;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
 color: rgb(127, 129, 133);
}

.recently-played {
 padding: 0 10px;
 margin-top: 20px;
}

.recently-played p {
 color: white;
 font-size: 24px;
}

.container-box {
 display: flex;
 flex-wrap: wrap;
 margin-top: 30px;
 padding: 0 10px;
 overflow: hidden;
}

.container-box-2 {
 display: flex;
 flex-wrap: wrap;
 margin-top: 30px;
 overflow: hidden;
}

.box {
 width: 190px;
 height: 250px;
 margin: 0 5px;
 overflow-y: hidden;
}

.box img {
 width: 100%;
}

.title {
 text-align: center;
 color: white;
 margin-top: 5px;
 font-size: 14px;
}

.subtitle {
 text-align: center;
 color: grey;
 font-size: 10px;
 margin-top: 5px;
}

.creato-da {
 padding: 0 10px;
}

.creato-da h2 {
 color: white;
 font-size: 24px;
 margin-top: 30px;
 margin-bottom: 10px;
}

.creato-da p {
 color: rgb(127, 129, 133);
 font-size: 12px;
 margin-bottom: 30px;
}

.creato-da .title p {
 text-align: center;
 color: white;
 margin-top: 5px;
 font-size: 14px;
}

.container-box-2 .box .round {
 border-radius: 50%;
}

.call-to-action {
 position: fixed;
 top: 0;
 right: 0;
 width: calc(100% - 50px);
 height: 90px;
 background-color: rgba(2, 2, 19, 0.9);
 z-index: 2;
 text-align: right;
 padding: 20px;
 line-height: 45px;
}

.btn-upgrade {
 border: 1px solid white;
 border-radius: 50px;
 padding: 10px 40px;
 color: white;
 text-transform: uppercase;
 font-size: 12px;
 font-weight: bold;
}

/* footer */
footer {
 width: 100%;
 height: 80px;
 background-color: rgb(44, 44, 44);
 position: fixed;
 z-index: 1;
 display: flex;
}

.footer-sx {
 height: 100%;
 width: 30%;
 display: flex;
 padding: 0 5px;
}

.album {
 display: flex;
 align-items: center;
 height: 100%;
}

.album img {
 width: 30px;
}

.center {
 display: flex;
 justify-content: center;
 flex-direction: column;
 height: 100%;
}

.center i {
 color: white;
}

.icon-container {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.titolo {
 display: flex;
 margin-left: 5px;
 flex-direction: column;
 font-size: 11px;
 padding-right: 20px;
 padding-left: 5px;
}

#autore {
 font-weight: bold;
}

.titolo p {
 color: white;
}

.bigger {
 font-size: 30px;
}

.footer-center {
 height: 100%;
 width: 40%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.top {
 display: flex;
 justify-content: center;
 align-items: center;
}

.bottom {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;
}

.minute {
 margin: 5px;
 color: white;
 font-size: 12px;
}

.logo p {
 display: flex;
 color: white;
 flex-direction: row;
}

.top i {
 color: white;
 margin: 10px 11px 5px 10px;
}

.progress-bar {
 height: 5px;
 width: 300px;
 border-radius: 10px;
 background-color: rgb(91, 91, 91);
 position: relative;
}

.progress-line {
 position: absolute;
 left: 0;
 bottom: 0;
 height: 5px;
 width: 40%;
 background-color: rgb(198, 198, 198);
 border-radius: 10px;
}

.footer-dx {
 height: 100%;
 width: 30%;
 display: flex;
 align-items: center;
 justify-content: flex-end;
 margin-left: 10px;
 padding: 0 5px;
}

.controlli {
 display: flex;
 align-items: center;
}

.controlli i {
 margin-right: 5px;
 color: white;
}

.progress-bar2 {
 height: 5px;
 width: 65px;
 border-radius: 10px;
 background-color: rgb(91, 91, 91);
 position: relative;
}

.progress-line2 {
 position: absolute;
 left: 0;
 bottom: 0;
 height: 5px;
 width: 40%;
 background-color: rgb(198, 198, 198);
 border-radius: 10px;
}

/* media query */
@media screen and (min-width: 480px) {
 .col-sn {
  width: 210px;
 }

 #logo-small {
  display: none;
 }

 .nav-top {
  justify-content: flex-start;
 }

 .nav-bottom {
  align-items: flex-start;
 }

 .col-dx {
  width: calc(100% - 210px);
 }

 .call-to-action {
  width: calc(100% - 210px);
 }
}

@media screen and (max-width: 480px) {
 #logo-big {
  display: none;
 }

 .description p {
  display: none;
 }

 .playlist-nav {
  display: none;
 }
}
