* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: "Roboto", sans-serif;
}

.container-top {
 display: flex;
 justify-content: flex-end;
}

.header-top {
 height: 80px;
 width: 95%;
 background-color: grey;
 position: fixed;
 top: 0;
 z-index: 999;
}

.main-left {
 width: 5%;
 height: 95%;
 background-color: black;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.nav-left-top {
 margin: 5px 0;
}

.nav-left-top ul li {
 color: white;
}

.nav-left-top i {
 display: flex;
 justify-content: center;
 margin: 10px 0;
}

#download {
 font-size: 8px;
 margin-bottom: 15px;
}

.container-main {
 width: 100%;
 height: 90vh;
 background-color: red;
}

footer {
 height: 15%;
 width: 100%;
 background-color: blue;
 position: fixed;
 bottom: 0;
}

@media screen and (min-width: 800px) {
 .main-left {
  width: 20%;
 }

 .header-top {
  width: 80%;
 }
}
